/.idea
/.vscode
*.log
.env
/config/site.php
/config/page.php
/config/payment.php
/public/.htaccess
/public/static/upload
/public/static/upload/article/
/public/static/upload/banners/
/public/static/upload/book/
/public/static/upload/tags/
/public/static/upload/article/.gitkeep
/public/static/upload/banners/.gitkeep
/public/static/upload/book/.gitkeep
/public/static/upload/tags/.gitkeep
/public/static/ueditor