APP_DEBUG = true

BIND_MOBILE = m
BIND_ADMIN = admin
BIND_MIP = mip
BIND_API = api
BIND_APP = app
BIND_AUTHOR = author
BIND_INDEX = www

DFS_IP = 127.0.0.1
DFS_PORT = 22122

[APP]
DEFAULT_TIMEZONE = Asia/Shanghai

[DATABASE]
TYPE = mysql
HOSTNAME = 127.0.0.1
DATABASE = cartoon
USERNAME = root
PASSWORD = root
HOSTPORT = 3306
CHARSET = utf8mb4
DEBUG = true
PREFIX = xwx_

[CACHE]
HOSTNAME = 127.0.0.1
PORT = 6379
PASSWORD =
PREFIX = 5e35013:

[LANG]
default_lang = zh-cn

